<section class="img-responsive vh-100 " alt="Sample image" 
style="background-image: url('../../../assets/mainBg2.png');
       min-width: 100%;min-height: 100%;background-size: 100% 100%;
       background-repeat: no-repeat; overflow-y: hidden; overflow-x: hidden;  ">


<div class="container-fluid mt-5">
    
    <div class="row justify-content-center mt-5">

        <div class="col text-center mt-5">
            <div class="col text-center mt-5"><br></div>
            <div class="display-1 mt-5" style="color: aliceblue;font-weight: 400;"> CarShop</div>
            <div class="display-5" style="color: aliceblue;"> 
                The best site for buying verified vehicles 
            </div>

            <div class="col text-center mt-5">

                <button type="button" (click)="signUp()" class="btn btn-light btn-lg px-3" style="border-radius: 18px; width: 200px;">Sign up here</button>
                <button type="button" (click)="login()" class="btn btn-light btn-lg ms-2 px-5" style="border-radius: 18px; ">Login</button>

            </div>
            

        </div>


    </div>

  </div>


</section>
